<h1 id="title">Burgers! <i class="fa fa-cutlery" aria-hidden="true"></i></h1>
<div class="row">
  <div class="col-lg-6">
    <h2 class="devoured">Burgers that are not devoured!</h2>
    <img class="vegb" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https://static.onecms.io/wp-content/uploads/sites/9/2019/05/Burger-National-Hamburger-Day-FT-Blog0619.jpg" width="300px" height="300px" alt="veggie burger">

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-lg-6">
    <h2 class="devoured">Burgers that are Devoured</h2>
<img class="greenb" src="https://thumbs.dreamstime.com/b/hamburger-half-eaten-20074315.jpg" width="300px" height="300px" alt="green burger">
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h2 class="add">Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burgerInput" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured</br>
        <input type="radio" name="devoured" value="0"> Taste!
      </div>

      <button type="submit" class="addburger">Add Burger</button>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>